# Data Science & Python

## 학습목표
 1. list, tuple, dictionary, set에 대해 이해 및 실습

## List, Tuple, Dictionary, Set

+ **list & tuple** 

''' 리스트의 경우 인덱스 검색 a[100]은 번지수 100을 준거기 때문에 메모리 점프해서 100번지에 있는 값을 바로 가져옴 
그래서 Big O의 연산 값은 무조건 1이 됨'''
 * 복수개의 값을 담을 수 있는 데이터 구조
 * 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
 * list - mutable    (생성된 후에 변경 가능)  
 * tuple - immutable (생성된 후에 변경 불가능)

* **리스트 생성**
 - [] 안에 값을 담아서 생성
 - list() 함수로 생성
 - str.split()함수로 생성

In [1]:
a = [1, 2, 3, 5, 2, 1, 1, 2]
print(a, type(a))

[1, 2, 3, 5, 2, 1, 1, 2] <class 'list'>

In [8]:
empty_list = [] # 비어있는 리스트
print (empty_list)

first_names = ['Aaron', 'David', 'Bill', 'Michael', 'John'] #리스트
print(first_names)

nums = [1, 4, 5, 3]
print(nums)

[]
['Aaron', 'David', 'Bill', 'Michael', 'John']
[1, 4, 5, 3]

In [ ]:
empty_list2 = list() # 튜플
print(empty_list2)

+ **list() 함수**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용

In [2]:
cat = 'cat'
print(list(cat)) # 각 문자열이 리스트의 원소가 됨 

test_tuple = ('Monday', 'Tuesday', 'Wednesday')
print(type(test_tuple))
print(list(test_tuple), type(list(test_tuple)))

['c', 'a', 't']
<class 'tuple'>
['Monday', 'Tuesday', 'Wednesday'] <class 'list'>

+ **string split 함수**
 * 구분자로 구분되는 리스트를 반환 (빈번히 사용 됨)

In [3]:
a = '1986/03/20'
result = a.split('/')
print(result)

python_str = 'python is easy to learn'
print(python_str.split())

['1986', '03', '20']
['python', 'is', 'easy', 'to', 'learn']

In [ ]:
a = 'a/b//c/d///e'

print(a.split('/'))
print(a.split('//'))

+ **indexing**
 * 문자열의 인덱싱과 동일하게 동작
 * [] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [5]:
years = ['1988', '1989', '2013', '2016', '2019'] # 리스트 튜플값에서의 string 에서만 인덱싱 가능, 정수는 안됨
print(years[0])
print(years[1])
print(years[2])

# 마지막 원소에 대한 접근 

print(years[len(years) - 1])
print(years[-1])

# 예외 발생 (index가 bound를 넘어감)
print(years[5])

1988
1989
2013
2019
2019

IndexError: tuple index out of range

* **연습문제**
years[0][1]의 값은?

In [4]:
years = ['1988', '1989', '2013', '2016', '2019']
years[0][1]

'9'

* **multiple indexing** 
 - []연산자의 경우 이어서 계속 적용 가능

In [6]:
seoul = ('sinsa', 'gangnam', 'jongro') # 튜플도 같이 사용가능하나 값의 추가 삭제는 불가 
gyeonggi = ['pangyo', 'gwacheon', 'guri', 1, 2, 100]
jeju = ['seogwipo', 123.3]

korea = [seoul, gyeonggi, jeju, 'pyungchang'] # 리스트 3개 집합, 'pyungchang'은 문자

world = [korea, 1, 2, 3] # 리스트 korea 그다음 숫자 정수 , 정수는 인덱싱이 안됨 (예 123456 의 3번째 자리 인덱싱 안됨)

print(korea[1][3])
print(korea[1][2][2])
print(world[0][0][0][-1])

1
r
a

* **인덱스 값 할당**
 - 인덱스에 접근하여 값을 업데이트 가능

In [9]:
a='python is good' # 문자열 인덱싱 가능 그러나 변경 업데이트 불가능 , 리스트 안에 있는 문자열가능
print(a.replace('p','P'))
print(a[3])

Python is good
h

In [10]:
print(years[1])
years[1] = '1986'
print(years)

NameError: name 'years' is not defined

* **list slicing**
 - 문자열 슬라이싱과 동일하게 동작
 - 슬라이싱의 결과 역시 list!

In [17]:
years = ['1988', '1989', '2013', '2016', '2019']
a= 'What a lovely day'
b='123456789' # len()함수는 무조건 string만 받는다. 숫자 안받음 
print(years[1:])
print(years[2:4])
print(years[2:-1])
print(years[:3])
print(years[2:2])
print(years[:])
print(len(years))
print(len(a))
print(len(b))

['1989', '2013', '2016', '2019']
['2013', '2016']
['2013', '2016']
['1988', '1989', '2013']
[]
['1988', '1989', '2013', '2016', '2019']
5
17
9

* **연습문제**
years 리스트에서 두번째 원소를 제거해 보세요

In [11]:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)
c[:1]+c[2:]

[1, 2, 3, 4, 5, 6]

[1, 3, 4, 5, 6]

### list 멤버 함수 # 리스트는 원소 추가 삭제 가능

* **append()**
 + 리스트의 끝에 항목을 추가함

In [12]:
a = [1, 2, 3, 4]
b = [1]

a.append(5)
b.append(3)

print(a)
print(b)

# b가 리스트 이므로 리스트 자체가 추가 됨
a.append(b) # 도움말을 알고 싶으면 쉬프트 +탭
print(a)

[1, 2, 3, 4, 5]
[1, 3]
[1, 2, 3, 4, 5, [1, 3]]

+ **extend()**
 * 리스트를 연장
 * += 로도 가능함

In [11]:
a = [1, 2, 3, 4]
b = [10, 20, 30, 40]

#a.append(b)
a.extend(b)

print(a)
print(b)

b += a

print(b)

[1, 2, 3, 4, 10, 20, 30, 40]
[10, 20, 30, 40]
[10, 20, 30, 40, 1, 2, 3, 4, 10, 20, 30, 40]

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능
 * 앞에 인덱스를, 뒤에 아이템을 명시

In [25]:
a = [1, 2, 4, 5, 10] 
# 값의 추가 삭제는 리스트만 가능, 튜플불가능 
a.insert(2, 3) # 인덱스 2의 자리에 숫자 3 집어넣기
a.insert(0, 6)# 인덱스 0의 자리에 숫자6을 집어넣는다 
print(a)

[6, 1, 2, 3, 4, 5, 10]

+ **아이템 삭제**
 * del 키워드 사용 
   - 인덱스로 삭제 가능

In [28]:
a = [9, 1, 2, 3, 4, 5, 10, 100]
print(a)

del a[-1] # python 구문 (할당연산자인 = 와 반대 역할을 함)
del a[0]

print(a)

[9, 1, 2, 3, 4, 5, 10, 100]
[1, 2, 3, 4, 5, 10]

+ **remove()**
 * 값으로 항목 삭제

In [29]:
a = [1, 2, 1, 3, 4, 5]
print(a)
a.remove(1) # 첫번째로 매칭되는 값만 삭제
print(a)

# 삭제할 아이템이 없으면 에러
a.remove(88)

[1, 2, 1, 3, 4, 5]
[2, 1, 3, 4, 5]

ValueError: list.remove(x): x not in list

+ **pop()**
  - 지우고자 하는 아이템을 반환 후, 삭제

In [34]:
a = [1, 2, 1, 3, 4, 5]
print(a.remove(1))

b = a.pop() # 기본적으로 가장 마지막 값을 삭제
print(b)
print(a)

None
5
[2, 1, 3, 4]

In [35]:
print(a.pop(0)) ## 0번째 자리에 있는 숫자를 팝 
print(a)

2
[1, 3, 4]

+ **index()**
 * 찾고자 하는 값의 인덱스 반환

In [36]:
a = [1, 2, 1, 3, 4, 5]

print(a.index(1)) # 리스트중에서 1을 찾아라 (인덱스에 매치된값이 아닌 값을 찾음)
print(a.index(1, 1)) # 여러개의 1중 첫번째 1을 찾아라
print(a.index(1, 1, 2)) # 값없음= 에러

0
2

ValueError: 1 is not in list

* **in**
 + 리스트 내에 해당 값이 존재하는지 확인
 + value in [list]
 + True, False 중 한가지로 반환

In [37]:
years = ['1988', '1989', '2013', '2016', '2019', '2019']

print('19888' in years) #  키워드 '19888' 가 리스트에 존재하냐? Boolean으로 나타냄
print('1989' in years)
print(1989 in years) # 정수형 1989는 리스트에 존재하지 않음

False
True
False

* **count()**
 + 리스트 내에 해당 값의 카운트

In [38]:
print(years.count('19888')) # 리스트안에'19888'키워드가 0개 있다 
print(years.count('1988'))# 리스트안에'1988'키워드가 1개 있다 
print(years.count('2019'))

0
1
2

* **join()**
 + 리스트의 원소를 구분자를 이용하여 문자열로 합친다
 + join은 string의 함수이다
 + list의 split() 함수와 반대의 작업을 함

In [39]:
a = 'python is good'
print(a.split())

['python', 'is', 'good']

In [26]:
birth_date_components = ['1986', '03', '20']
print('/'.join(birth_date_components))
print ('@',join(birth_date_components))

1986/03/20

NameError: name 'join' is not defined

* **list 정렬**
 + sort() -> 리스트 자체를 내부적으로 정렬
 + sorted() -> 리스트의 정렬된 복사본을 반환 # 내장함수

In [3]:
#오름차순 - 작은거부터 
#내림차순 - 큰거부터

a = [9, 8, 1, 2, 7, 5, 6, 3, 4]


a.sort() # a 자체를 정렬
a.sort(reverse=True)
a

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [47]:

a = [9, 8, 1, 2, 7, 5, 6, 3, 4]

b = sorted(a, reverse=True) # a 를 b로 변환해서 정렬
print (b)
print (a)

[9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 1, 2, 7, 5, 6, 3, 4]

* **리스트의 대입 및 복사 =, [:]**
 + = -> 할당, a와 b가 같은 리스트를 가리킴
 + [:] -> 복사, a와 b가 다른 리스트를 가리킴

In [48]:
a = [1, 2, 3, 4]

b = a # 같은 리스트를 가리킴, 같은 referece 메모리 주소인데 그 주소안에 리스트와 그 원소들이 저장되어있음 

print (a)
print (b)
print ('-' * 20)

[1, 2, 3, 4]
[1, 2, 3, 4]
--------------------

In [52]:
a[0] = 22

print (a)
print (b)

# copy # a의 리퍼런스 주소 값이 b에 카피 됨 
b = a[:] #b의 주소값이 a 의 주소값이 복사됨, 그러므로 a 가 변경이 되는 경우 b 는 변경되지 않음
b = list(a)

a[0] = 24
print (a)
print (b)

[22, 2, 3, 4]
[22, 2, 3, 4]
[24, 2, 3, 4]
[22, 2, 3, 4]

* **list 연습문제**
 1. 리스트가 주어졌을 때, 처음과 마지막 원소만 갖는 리스트로 변환하시오. [1, 2, 3] -> [1, 3], [2, 3, 4, 5] -> [2, 5]  
 2. 리스트가 주어졌을 때, 임의의 두 원소의 합의 최대값을 구하시오. [1, 9, 7, 8, 2, 5, 11]

In [67]:
mina_a=[1,2,3]
mina_b=[2,3,4,5]

mina_a.pop(1) # 인덱스 1의 위치에 있는것을 뺌
mina_b.pop(1)
mina_b.pop(2)
mina_b

[2, 4]

In [ ]:
## 선생님 답

a = [1,2,3,4]
b =

In [72]:
#리스트가 주어졌을 때, 임의의 두 원소의 합의 최대값을 구하시오. 
numbers=[1, 9, 7, 8, 2, 5, 11]
sorted_numbers=sorted(numbers)
max=sorted_numbers[-1]+sorted_numbers[-2]

print(max)

20

+ **tuple**

In [14]:
empty_tuple = ()
print(empty_tuple)

one_tuple = 'aaron',
another_tuple = ('aaron2',) # 원소가 1개 있는 튜플  콤마를 찍어주면 튜플형태로 나온다 

print(one_tuple) ## 만약 콤마 없이 프린트 하면 변수에 해당하는 값만 나온다 
print(another_tuple)

more_tuple = ('a', 'b', 'c')
print(more_tuple)

()
('aaron',)
('aaron2',)
('a', 'b', 'c')

* **tuple unpacking**
 - 튜플의 값을 차례대로 변수에 대입

In [5]:
a, b, c = 1, 2, 3 ## 개수가 맞아야함, 
print(a, b, c)

print(a)
a = 5
b = 4

a = 4
b = 5

1 2 3
1

* **quiz2)** a와 b의 값을 교환하시오

In [8]:
a = 10
b = 20

a, b = b, a # 튜플
print (a, b)

20 10

* **tuple()**
 + 다른 객체를 튜플로 변경

In [13]:
print(tuple([1, 2, 3, 4])) # 리스트를 튜플로 변경 
print (tuple('1234')) ## 문자열을 튜플로 변경

(1, 2, 3, 4)
('1', '2', '3', '4')

+ **why tuple?**
1. 더 적은 메모리 사용
2. immutable(불변)이기 때문에, 실수로 값이 바뀌지 않음 등등

* tuple 연습문제

 1. 임의의 이메일 주소를 받아서 사용자 아이다와 도메인을 각각 추출 후, 출력하시오
e.g) apple@google.com을 사용자명(apple)과 도메인(google.com)으로 분리

In [16]:
a = 'macmath22@gmail.com'

a.split('@')

user_id, domein = tuple(a.split('@'))

print(user_id)
print(domein)

macmath22
gmail.com

* **dictionary**
 + 키와 값을 갖는 data structure # O(1) 만큼 시간이 걸림 
 + 키는 해쉬값으로 저장됨 
  - 해당 키에 따른 값에 접근 시, O(1) 시간으로 접근
 + 순서를 따지지 않음. 즉, 인덱스가 없음

In [22]:
empty_dict = {}
print(empty_dict)

dict1 = {'python' : 'best', 'java' : 'good', 'c++' : 'better'}
print(dict1)

{}
{'python': 'best', 'java': 'good', 'c++': 'better'}

In [25]:
dict2 = {}

dict2['python'] = 'best'
dict2['java'] = 'good'
dict2['python'] = 'best222' # 마지막껄로 결국엔 엎어서 씀 그래서 키값 1개씩 총 두개 

print(dict2)

{'python': 'best222', 'java': 'good'}

* **dict()**
 + dictionary로 변환.
 + 두값으로 이루어진 시퀀스를 변환 가능. 첫번째 항목이 key, 두번째 항목이 value로 사용됨

In [28]:
a = [[1, 2], [2, 3], [3, 6]] ## 리스트 
print(dict(a)) ## 리스트를 딕셔너리로 전환 

a = [(1, 2), (2, 3), (3, 6)] # 튜플의 리스트 
print(dict(a))

a = ((1, 2), (2, 3), (3, 6)) ## 튜플의 튜플 
print(dict(a))

{1: 2, 2: 3, 3: 6}
{1: 2, 2: 3, 3: 6}
{1: 2, 2: 3, 3: 6}

+ **항목 추가 및 변경**
 - 기존에 키가 존재 하면, 새로운 값으로 업데이트
 - 존재하지 않으면, 새로운 키, 값 생성

In [26]:
dict1 = {'python' : 'best', 'java' : 'good', 'c++' : 'better'}
dict1['go'] = 'gogogo'
dict1['java'] = 'soso'

dict1

{'c++': 'better', 'go': 'gogogo', 'java': 'soso', 'python': 'best'}

+ **update()**
 * 두 딕셔너리를 병합함
 * 겹치는 키가 있다면 parameter로 전달되는 키 값이 overwrite된다.

In [27]:
dict1 = {'python' : 'best', 'java' : 'good', 'c++' : 'better'}
dict2 = {'ruby' : 'elegant', 'javascript' : 'too much', 'java' : 'soso'}

dict1.update(dict2)
print(dict1)
print(dict2)

{'python': 'best', 'java': 'soso', 'c++': 'better', 'ruby': 'elegant', 'javascript': 'too much'}
{'ruby': 'elegant', 'javascript': 'too much', 'java': 'soso'}

* **key삭제**
 - del 키워드 사용

In [1]:
del dict1['java'] 
del dict1['jasa']

NameError: name 'dict1' is not defined

* **clear()**
 + 딕셔너리의 모든 값을 초기화

In [31]:
a = {1 : 2, 2: 4, 4 : 5}
print(a)

a.clear() # 초기화

print(a)

{1: 2, 2: 4, 4: 5}
{}

* **in**
 + key값 존재 확인
 + O(1) 연산 ## true, false 값이기 때문에

In [32]:
a = {'1' : 2, '2': 4, '4' : 5}
print(1 in a) ## 1은 없고 '1'은 있기 때문에 false로 표현 
print(a['1'])
print(a[1])

False
2

KeyError: 1

* **value access**
 + dict[key]로 접급, 키가 없는 경우 에러 발생 
 + .get() 함수로 접근, 키가 없는 경우 None반환

In [18]:
a = {'1' : 2, '2': 4, '4' : 5}

print(a['2'])
print(a['3']) # 없음 인덱싱으로 찾을때는 없어서 에러

4

KeyError: '3'

In [56]:
a = {'1' : 2, '2': 4, '4' : 5} ## get 함수는 딕셔너리에서 쓰임 
print(a.get('1'))


print(a.get(5,'default'))# 키값이 없으면 default로 값을 내와라
print(a.get('3')) # 만약 딕셔너리에서 값이 없으면 원래는 에러인데 값이 없을때 get 함수 쓰면 에러대신 값이 없다는 None을 출력해줌

2
default
None

* **모든 keys, values 접근**
 + keys()
 + values()
* **key-value 튜플 리스트로 반환**
 + items()

In [3]:
signals = {'green' : 'fly', 'yellow' : 'go faster', 'red' : 'stop'}

keys = signals.keys()
values = signals.values()

print(keys)
print(values)

print(list(signals))
print(list(values))

dict_keys(['green', 'yellow', 'red'])
dict_values(['fly', 'go faster', 'stop'])
['green', 'yellow', 'red']
['fly', 'go faster', 'stop']

In [4]:
signals.items() # 키벨류를 리스트 아이템으로 바꿔줌

dict_items([('green', 'fly'), ('yellow', 'go faster'), ('red', 'stop')])

In [49]:
for key,value in signals.items()

SyntaxError: invalid syntax (<ipython-input-49-d8a5c6e8fc03>, line 1)

* **dictionary 연습문제**
 1. a = {11 : 3, 4 : 9, 14 : 22, 21 : 20, 5 : 8, 2 : 23} 에서 키의 최소값에 대응하는 값과, 키의 최대값에 대응하는 값을 출력하시오
 2. 주어진 dictionary를 가지고, 다음 문장을 번역 하시오. translator = {'This' : 'Este', 'is' : 'es', 'python' : 'piton'}

    "This is python"

In [21]:
a = {11 : 3, 4 : 9, 14 : 22, 21 : 20, 5 : 8, 2 : 23}
a.keys
b=sorted(a.keys())
b
a[b[0]]


a[b[-1]]

print("minimum key's value:",a[b[0]])
print ("maximum key's value:", a[b[-1]])

minimum key's value: 23
maximum key's value: 20

In [25]:
translator = {'This' : 'Este', 'is' : 'es', 'python' : 'piton'}

str1 = 'This is python'



laguage = str1.replace('This', translator['This']) \
            .replace('is', translator['is']) \
            .replace('python', translator['python']) ## \은 라인을 계속해서 이어줌 , \쓰고 다음줄에 계속 명령하면 됨 
        
laguage

'Este es piton'

* **set**
 + dictionary에서 key만 남은 케이스
 + 수학에서의 집합과 동일함

In [90]:
empty_set = set()
print(empty_set)

even_nums = {2, 4, 6, 8}
print(even_nums)

odd_nums = {1, 3, 5, 7, 7, 9}
print(odd_nums)

set()
{8, 2, 4, 6}
{1, 3, 5, 7, 9}

* **set()으로 집합으로 변환**

In [92]:
print (set('mississippi')) ## 셋은 집합이라서 같은 값이 중복이면 한개만 출력 
print (set([1, 2, 3, 1, 2, 3, 1, 3, 4])) 
print (set({1 : 2, 4 : 9, 3 : 8}))# 셋은 키값만 출력줌 


a = [1, 2, 3, 1, 2, 3, 1, 3, 4]

list(set(a))

{'m', 'i', 'p', 's'}
{1, 2, 3, 4}
{1, 3, 4}

[1, 2, 3, 4]

+ **set operations**
 - 수학 연산과 동일
 - 교집합, 합집합, 차집합 등 지원

In [7]:
a = {1, 2}
b = {2, 3, 4}

print(a.intersection(b))
print(a & b) # 교집합

print(a.union(b))
print(a | b) # 합집합

print(a.difference(b))
print(a - b) # a 집합에서 b 집합 제외 

print(a.symmetric_difference(b)) # 양쪽 모두에 들어있지 않은 멤버
print(a ^ b)

print(a.issubset(b))
print(a <= b) #부분 집합

{2}
{2}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1}
{1}
{1, 3, 4}
{1, 3, 4}
False
False

* **set 연습문제**
 1. 영어 수업을 듣는 학생 집합 : {'Aaron', 'Tracy', 'David', 'Grant', 'Michael', 'Tim'}
    수학 수업을 듣는 학생 집합 : {'Aaron', 'David', 'Smith', 'Bill', 'Tim', 'Cathy', 'Carl'}
    
    이라고 할 때, 전체 학생 중 두과목 모두 듣는 학생의 비율은 얼마인가?

In [37]:
a = {'Aaron', 'Tracy', 'David', 'Grant', 'Michael', 'Tim'} 
b = {'Aaron', 'David', 'Smith', 'Bill', 'Tim', 'Cathy', 'Carl'}

x = len(a & b) # 교집합의 학생수 ,,,,,set함수에서만 가능 (교집합, 합집합, 여집합, 종속집합등)
y = len(a | b) # 합집합의 학생수 

print(x / y) # 교집합/합집합 = 비율

0.3

['Aaron',
 'Smith',
 'Tim',
 'David',
 'Michael',
 'Grant',
 'Carl',
 'Bill',
 'Cathy',
 'Tracy']

* **과제** 
 1. 14577을 소인수 분해 하시오.
 2. 2^28와 근사값으로 계산한 2^28의 차이를 구하시오.
 3. 다음과 같이 출력되도록 구구단 프로그램을 작성하시오.
    
> 2 * 1 = 2

> 2 * 2 = 4

>    ...

>    3 * 1 = 3

>    ...

>    9 * 8 = 72

>    9 * 9 = 81

In [41]:
# 14577을 소인수 분해 하시오.


num = 14577
div = 2

factors = []

while num >= div:
    if num % div == 0:
        factors.append(div)
        num /= div ## num / div = num
        div += 1
    else:
        num -= 1

factors

[2, 3, 4, 5, 6, 7]

In [48]:
num = int(input())
div = 2 

collection = []
while num >= div:
    if num % div == 0:
        
        collection.append(div)
        num /= div
        div += 1
    else:
        num -= 1
        
collection

154738

[2, 3, 4, 5, 6, 7, 8]

In [130]:
#2^28와 근사값으로 계산한 2^28의 차이를 구하시오.

i=0
while 2**28>10**i:
    
    i+=1
    
    print (i)

    
print("근사값 차이=",10**i, "-", "2**28","=",10**i-2**28)

1
2
3
4
5
6
7
8
9
근사값 차이= 1000000000 - 2**28 = 731564544

In [27]:
## 선생님닶
2**28-2**8*10**6

12435456

In [57]:
'''다음과 같이 출력되도록 구구단 프로그램을 작성하시오.'''
for i in range(2,10):
    
    for j in range (1,10):
       
        print (i,"X",j,"=",i*j)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81